@import url("https://fontsapi.zeoseven.com/442/bold/result.css");
@import url("https://fontsapi.zeoseven.com/442/bold-italic/result.css");
@import url("https://fontsapi.zeoseven.com/442/extra-bold/result.css");
@import url("https://fontsapi.zeoseven.com/442/extra-bold-italic/result.css");
@import url("https://fontsapi.zeoseven.com/442/extra-light/result.css");
@import url("https://fontsapi.zeoseven.com/442/extra-light-italic/result.css");
@import url("https://fontsapi.zeoseven.com/442/italic/result.css");
@import url("https://fontsapi.zeoseven.com/442/light/result.css");
@import url("https://fontsapi.zeoseven.com/442/light-italic/result.css");
@import url("https://fontsapi.zeoseven.com/442/medium/result.css");
@import url("https://fontsapi.zeoseven.com/442/medium-italic/result.css");
@import url("https://fontsapi.zeoseven.com/442/main/result.css");
@import url("https://fontsapi.zeoseven.com/442/semi-bold/result.css");
@import url("https://fontsapi.zeoseven.com/442/semi-bold-italic/result.css");
@import url("https://fontsapi.zeoseven.com/442/thin/result.css");
@import url("https://fontsapi.zeoseven.com/442/thin-italic/result.css");

/* noto-sans-sc-latin-wght-normal */
@font-face {
  font-family: 'Noto Sans SC Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-sans-sc:vf@5.3.0/latin-wght-normal.woff2) format(woff2) tech(variations);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* noto-serif-sc-latin-wght-normal */
@font-face {
  font-family: 'Noto Serif SC Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-serif-sc:vf@5.3.0/latin-wght-normal.woff2) format(woff2) tech(variations);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}